.chat-main
  .chat-header
    .chat-header__left
      .group 
        = @group.name
      .user
        %p Members : 
        - @group.users.each do |user|
          %li
            = user.name

    .chat-header__right
      = link_to "Edit", edit_group_path(@group), class: 'edit-btn'
  .chat-body
    = render @messages
  .chat-footer
    .chat-footer__form
      .chat-footer__left
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'chat-footer__message', placeholder: 'type a message'
          .chat-footer__send
            = f.label :image, class: 'filelabel' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'send-btn'