.chat-main
  .chat-header
    .chat-header__left
      %p.group TEST
      %p.user Members: test
    .chat-header__right
      %input.edit-btn{ :type => "submit", :value => "Edit" }
  .chat-body
    %ul.chat-contents
      %li.chat-content
        .chat-content__header
          .chat-content__name
            %p ユーザー名
          .chat-content__date
            %p 2019/07/07
        .chat-content__message
          %p 投稿メッセージ
      %li.chat-content
        .chat-content__header
          .chat-content__name
            %p ユーザー名
          .chat-content__date
            %p 2019/07/07
        .chat-content__message
          %p 投稿メッセージ
  .chat-footer
    .chat-footer__form
      .chat-footer__left
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'chat-footer__message', placeholder: 'type a message'
          .chat-footer__image
            = f.label :image, class: 'filelabel' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'send-btn'